# Water Potability Pipeline

This notebook will walk through the steps of pre-processing a _water potability_ dataset from Kaggle.com.  The dataset will be fed into a ML model to predict if a given water sample is potable or not.

### Imports
Imports all modules needed for this data pipeline

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Assessing Raw Data

This part will briefly assess the raw data that will be fed into the data pipeline.  This will identify some apsects to target during the _pre-processing_ portion of the data pipeline.

In [21]:
file = "data/water_potability.csv"
df = pd.read_csv(file)
row_count = len(df['ph'])
rows = list()
for col in df.columns:
    NaN_count = len(df[df[col].isnull()])
    NaN_perc = round(NaN_count / row_count, 2) * 100
    maximum = round(max(df[~df[col].isnull() & ~df[col].isin(['nan'])][col]), 2)
    minimum = round(min(df[~df[col].isnull() & ~df[col].isin(['nan'])][col]), 2)
    if col == 'ph':
        print(maximum)
        print(minimum)
    rows.append([col, NaN_count, NaN_perc, maximum, minimum])

summary = pd.DataFrame(data=rows, columns=["Column Name", "NaN Counts", "NaN %", "Max", "Min"])
summary

14.0
0.0

       Column Name  NaN Counts  NaN %       Max     Min
0               ph         491   15.0     14.00    0.00
1         Hardness           0    0.0    323.12   47.43
2           Solids           0    0.0  61227.20  320.94
3      Chloramines           0    0.0     13.13    0.35
4          Sulfate         781   24.0    481.03  129.00
5     Conductivity           0    0.0    753.34  181.48
6   Organic_carbon           0    0.0     28.30    2.20
7  Trihalomethanes         162    5.0    124.00    0.74
8        Turbidity           0    0.0      6.74    1.45
9       Potability           0    0.0      1.00    0.00